:root {
    --colour1: #534859;
    --colour2: #fbf0e8;
    --colour3: #fbd0d0;
    --colour4: #f9688d;
}

.header {
    background-color: var(--colour3);
    margin: 0;
}

.title {
    font-size: 3em;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-weight: 800;
    /* margin-bottom: 20px; */
    padding: 30px;
    color: var(--colour4);
}

body {
    width: 100%;
    margin: 0;
    background-color: var(--colour2);
}

.content {
    margin: 50px;
}

.love-letter {
    font-size: 2em;
    font-family: 'Indie FLower', cursive;
    color: var(--colour1);
}